* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    width: 100%;
    min-width: 800px;
    min-height: 826px;
}

/*js control classes*/
.is_nav_open {
    margin-left: 200px;
}

.container_right_shift {
   margin-left: 150px;
}

.nav_close {
    transform: translateX(-240px);
}

/*js control classes*/


.nav_container {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 240px;
    padding-left: 40px;
    padding-right: 25px;
    height: 100vh;
    z-index: 100;
}

.nav_header_top {
    position: relative;
    margin-top: 3vh;
}

.nav_toggle {
    position: absolute;
    top: 0;
    left: 0;
    height: 6vmin;
    width: 6vmin;
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}

.nav_toggle:focus {
    outline:0;
}

.nav_toggle_icon:after,
.nav_toggle_icon:before {
    position: absolute;
    display: block;
    content: "";
}

.nav_toggle_icon,
.nav_toggle_icon:after, 
.nav_toggle_icon:before {
    width: 22px;
    height: 3px;
    background-color: #171616;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition-property: background-color,top,bottom,-webkit-transform;
    transition-property: background-color,top,bottom,transform;
    transition-property: background-color,top,bottom,transform,-webkit-transform;
    transition-duration: .2s;
    transition-timing-function: ease;
}

.nav_toggle_icon:before {
    transform: translateY(-10px);
}

.nav_toggle_icon:after {
    transform: translateY(10px);
}

.nav_toggle_icon {
    position: relative;
    display: block;
    margin: 0 auto;
    color: #171616;
}

.is_nav_open .nav_toggle_icon {
    background: transparent;
}

.is_nav_open .nav_toggle_icon:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.is_nav_open .nav_toggle_icon:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav_header_logo_link { 
    position: relative;
    top: 5vh;
    cursor: pointer;
    display: inline-block;
    line-height: 0.8;
    font-family: 'Vesper Libre', sans-serif;
    font-weight: 700;
    font-size: calc(0.1vw + 2em);
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    outline: none;
    color: #171616;
    text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.2);
}

.nav_header_mid {
    position: relative;
    top: 20vh;
}

.nav_list {
    list-style-type: none;
}

.nav_item {
    font-weight: 400;
    font-family: 'Dosis', sans-serif;
    font-size: calc(0.2vw + 1em);
    margin-bottom: 30px;
    text-align: left;
}

.nav_is_utility {
    font-weight: 200;
    font-size: calc(0.1vw + 0.95em);
    margin-bottom: 22px;
}

.nav_link {
    position: relative;
    color: #171616;
    text-decoration: none;
}

.nav_link:before,
.nav_link:hover:before,
.nav_is_active {
    -webkit-transform: none;
    transform: none;
}

.nav_link:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-4.97159vw + -14.09px);
    right: 0;
    width: calc(4.97159vw + 4.09px);
    height: 1px;
    opacity: 0.4;
    background-color: #171616; 
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
}

.title_container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

.logo {
    width: 100%;
    height: 100%;
    z-index: 40;
}

.logo_text {
    position: absolute;
    margin: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_text h1,
.logo_text h2 {
    font-family: "Vesper Libre", sans-serif;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.1;
}

.logo_text h1 {
    font-size: 13vmin;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateX(-7%);
}

.logo_text h2 {
    font-size: 5vmin;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transform: translateX(10.5%);
}

.scroll_bar_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    z-index: 40;
}

.scroll_bar_container > p {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 0.2px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.2em;
}

.scroll_bar_container div.scroll_bar_horizontal {
    position: absolute;
    bottom: 16vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.scroll_bar_container div.scroll_bar_vertical {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 16vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.content_container {
    position: relative;
    width: 100%;
    z-index: 40;
}

.spacer {
    width: 100%;
    height: 400px;
}

.trigger {
    width: 100%;
    height: 1px;
    background-color: red;
}

.content_container .content {
    position: relative;
    height: 800px;
    width: 100%;
}

.content_container .title {
    position: absolute;
    white-space: nowrap;
    word-break: normal;
    z-index: 50; 
}

.content_container #title_1 {
    left: 250px;
    top: 400px;
}

.content_container #title_2 {
    top: 400px;
    left: 200px;
}

.content_container #title_3 {
    top: 550px;
    right: 300px;
}

.content_container #title_4{
    top: 200px;
    left: 200px;  
}

.content_container #title_5 {
    top: 200px;
    left: 150px;
    text-align: right;
}


.content_container .title > h1 {
    font-family: 'Vesper Libre', sans-serif;
    font-size: 8em;
    line-height: 0.5;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.content_container .title > h2 {
    padding-left: 20px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}


.content_container #title_1 > h2 {
    position: relative;
    bottom: 50px;
    left: 250px;
}

.content_container #title_2 > h2 {
    position: relative;
    left: 220px;
}

.content_container #title_3 > h2 {
    position: relative;
    left: 370px;
    bottom: 150px;
}

.content_container #title_5 > h1 {
    line-height: 0.7;
}

.content a.button {
    cursor: pointer
}

.content .mask {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content #mask_1 {
    background-image: url(../img/design/Screen%20Shot%202018-04-18%20at%208.42.50%20PM.png);
    clip-path: circle(300px at 55% 50%);
}

.content #mask_5 {
    background-image: url(../img/photography/1.jpg);
    clip-path: circle(300px at 60% 55%);
}

.content .pic {
    position: absolute;
    padding: 40px;
}

.content #pic_1 {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    left: 35%;
    top: 10%;
    background-color: rgba(255, 123, 0);
}

.content #pic_2 {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-color: mediumpurple;
    right: 300px;
    top: 60px;
}

.content #pic_3 {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    left: 120px;
    top: 40px;
    background-color: lightpink;
    
}

.content #pic_4{
    border-radius: 50%;
    width: 600px;
    height: 600px;
    top: 80px;
    left: 460px;
    background-color: lightblue;
    
}

.content #pic_5{
    border-radius: 50%;
    width: 550px;
    height: 550px;
    background-color: rgba(255, 220, 38);
    top: 100px;
    left: 510px;
    bottom: 250px;
}


/*Detail Page Style Sheet*/

.home_logo_button {
    text-decoration: none;
    position: fixed;
    cursor: pointer;
    left: 40px;
    top: 40px;
    z-index: 100;
}

.home_logo_button > div {
    font-family: "Vesper Libre", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
    line-height: 0.8;
    color: #fff;
    text-shadow: 0px 0px 4px #171616;
}

.detail_title {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 30;
}

.detail_title_pic {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.tween_detail_pic {
    border-radius: 0 100% 100% 0;
}

.detail_title_text {
    position: absolute;
    white-space: nowrap;
    word-break: normal;
    z-index: 90;
}

.detail_title_text > h1 {
    font-family: 'Vesper Libre', sans-serif;
    font-size: 8em;
    line-height: 0.5;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

#design_title .detail_title_text {
    left: 249px;
    top: 411px;
}

#design_title .detail_title_pic {
    background-image: url(../img/design/Screen%20Shot%202018-04-18%20at%208.42.50%20PM.png);
}

#education_title .detail_title_pic {
    background-image: url(../img/education/cmu_logo.jpg);
}

#work_title .detail_title_pic {
    
}

#more_title .detail_title_pic {
    background-image: url(../img/photography/1.jpg);
}

#more_title .detail_title_text > h1 {
    line-height: 0.7;
    text-align: right;
}

#project_title .detail_title_pic {
    
}

.arrow_button {
    position: absolute;
    background: #171616;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    z-index: 100;
    cursor: pointer;
}

#arrow_button_left {
    top: 500px;
    left: 550px;
    height: 150px;
    width: 150px;
}

#arrow_button_right {
    opacity: 0;
    top: 450px;
    width: 100px;
    height: 100px;
    right: 100px;
    transform: rotate(180deg);
}

.arrow_button path {
    fill: rgba(255, 255, 255, 0.9);
}

.arrow_button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%);
}

.detail_content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 123, 0);
}

.detail_main_circle {
    position: absolute;
    left: 350px;
    top: 450px;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: rgba(255, 129, 98);
}

.detail_main_display {
    position: absolute;
    left: 400px;
    top: 0;
    height: 100%;
    width: calc(100vw - 400px);
    background-color: #fff;
}

.img_display {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: auto; 
}

.display_pic img{
    height: 100vh;
}
