/************************************general******************************/
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.cannot-see {
	visibility: hidden;
}

.hide {
	display: none;
}

body {
	min-width: 787px;
	position: relative;
	margin: 0;
	padding: 0;
}

.barba-container {
	height: 100%;
	width: 100%;
}

.box {
	position: absolute;
	right: 100vw;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: #ac8bd0;
	z-index: 500;
}

.nav-bar-container {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

ul.nav-bar {
	margin-top: 20px;
	padding: 0;
	white-space: nowrap;
}

ul.nav-bar li {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

ul.nav-bar li a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
	color: #000;
	transition: all 0.2s ease;
}

ul.nav-bar li:after {
	position: absolute;
	content: "";
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%) scaleX(0) translateZ(0);
	width: 100%;
	height: 1px;
	background-color: #de4199;
	transition: transform 0.2s ease;
}

ul.nav-bar li.on:after {
	position: absolute;
	content: "";
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%) scaleX(1) translateZ(0);
	width: 100%;
	height: 1px;
	background-color: #de4199;
	transition: transform 0.2s ease;
}

ul.nav-bar li:hover:after {
	transform: translateX(-50%) scaleX(1) translateZ(0); 
}

ul.nav-bar li:hover a,
ul.nav-bar li.on a {
	color: #de4199;
}

.display {
	margin-bottom: 50px;
}

.display .thumbnail-wrapper {
	position: relative;
	height: 200px;
}

.display .thumbnail {
	position: absolute;
	width: 100px;
	height: 180px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.display .thumbnail .pic {
	position: relative;
	width: 100px;
	height: 150px;
	box-shadow: -5px 5px 4px rgba(57, 48, 68, 0.46);
	overflow: hidden;
}

.display .thumbnail .pic > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display .thumbnail .title {
	width: 100px;
	height: auto;
	margin-top: 6px;
	text-align: left;
}

.display .thumbnail .title > span {
	height: auto;
	color: #440161;
	font-family: 'Roboto Slab', serif;
	font-size: calc(12px + 0.1vw);
	font-weight: 300;
	letter-spacing: 1.5px;
	text-shadow: -5px 5px 4px rgba(57, 48, 68, 0.46);
}

.catalog {
	padding-top: 10px;
}

.catalog > p.title,
.catalog .table > a.entry {
	display: block;
	color: #000000;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	font-weight: 300;
	text-decoration: none;
	padding: 8px 0;
	transition: color 0.3s ease;
}

.catalog > p.title {
	font-weight: 400;
}

.catalog .table > a.entry:hover {
	color: #ff008f;
}

/************************************general******************************/

/************************************index******************************/
body.index .nav-bar-container {
	position: absolute;
	margin-left: 40px;
	top: 190px;
	left: 0;
	transform: none;
}

body.index .nav-bar-container li {
	display: block;
}

body.index .nav-bar-container li:after {
	display: none;
}

body.index .nav-bar-container li a {
	font-family: 'Vesper Libre', serif;
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
	font-size: 50px;
	font-weight: 900;
	color: #5f0d9f;
}

body.index .nav-bar-container li:hover a,
body.index .nav-bar-container li#home a {
	color: #ad805b;
}

.index-container {
	position: relative;
	height: 100vh;
	width: 100vw;
	min-width: 760px;
	min-height: 820px;
	overflow: auto;
	background-color: #f9f9f9;
}

.index-title {
	position: absolute;
	margin: 40px;
}

.index-title > span {
	display: block;
	font-family: 'Vesper Libre', serif;
	text-align: left;
	text-transform: uppercase;
	line-height: 1;
	font-size: 50px;
	font-weight: 900;
	color: #504954;
}

.index-info {
	position: absolute;
	bottom: 0;
	margin: 70px;
	font-family: "Roboto Slab", sans-serif;
	font-size: 11px;
	color: #5f0d9f;
}

.index-info > span {
	display: block;
}

.index-info span:nth-child(1) {
	margin-bottom: 30px;
}

.index-info span i{
	font-size: 18px;
}

.index-info span a {
	text-decoration: none;
	color: #5f0d9f;
	transition: color 0.2s ease;
}

.index-info span a:hover {
	color: #ad805b;
}

.particles-container {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.particle-inner {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: pink;
	background: url(../media/background.png);
	background-position: center center;
	background-size: cover;
}


/************************************index******************************/

/************************************design******************************/
.design-content-wrapper {
	width: 100%;
	min-width: 787px;
	background-color: #f9f9f9;
}

.design-content-wrapper .main-content {
	height: auto;
	padding: 100px;
}

.design-content-wrapper svg.select-stroke {
	position: absolute;
}

.design-content-wrapper svg.select-stroke path {
	fill:none;
	stroke:#ED1E79;
	stroke-width:0.5;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:1;
}
/************************************design******************************/

/*********************************design_details****************************/
.details .project-wrapper {
	width: 100%;
	min-width: 991px;
	margin: 100px 0;
	min-height: 90vh;
	padding-top: 5vh;
}

.project-wrapper .project .project-pic > img {
	display: block;
	margin: 0 auto;
	max-height: 85vh;
	max-width: 100%;
}

.project .project-intro {
	padding-left: 8%;
}

.project .project-intro span {
	position: relative;
	display: block;
	text-align: left;
}

.project .project-intro .number span:before {
	content: "";
	position: absolute;
	height: 3px;
	width: 300px;
	background-color: #5f0d9f;
	top: 50%;
	right: 100%;
}

.project .project-intro .number {
	font-size: 100px;
	line-height: 1;
	color: #5f0d9f;
	font-family: 'Vesper Libre', serif;
	font-weight: 900;
}

.project .project-intro .title span:nth-child(1) {
	font-family: 'Vesper Libre', serif;
	font-weight: 900;
	font-size: calc(50px + 0.5vw);
	width: 100%;
	line-height: 1;
	word-break: break-word;
	color: #5f0d9f;
	text-transform: uppercase;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.project .project-intro .title span:nth-child(2) {
	font-family: "Roboto Slab", sans-serif;
	font-size: 13px;
	padding-left: 5px;
	color: #5f0d9f;
	font-weight: 400;
	text-transform: capitalize;
}

.project .project-intro .intro {
	font-family: "Roboto Slab", sans-serif;
	color: #5f0d9f;
	font-weight: 300;
	font-size: 14px;
	margin: 10px 0;
	padding: 4px;
}


/*********************************design_details****************************/